html {
  position: relative;
  min-height: 100%;
}


#wrapper {
  width: 960px;
  margin-left: auto;
  margin-right: auto;
  padding-top: 5%;
}
#articles {
  display: inline-block;
  overflow: auto;
  width: 60%;
  height: 700px;
}
#notes {
  float: right;
  width: 30%;
}
textarea, input {
  display: block;
  width: 100%;
  background-color: #FCF5C7;
}
input {
  height: 36px;
  font-size: 24px;
}
textarea {
  height: 200px;
  font-size: 18px;
}

.navbar {
  margin-bottom: 0;
}

.scrape-new {
  padding: 10px;
  margin-top: 10px;
  font-weight: 800;
  color: white;
}

.scrape-new:hover {
  background: #4caf50;
}

.scrape-new:active {
  background: #e51c23;
}

.scrape-new {
  cursor: pointer;
}